# {{ ansible_managed }}

[program:shadowsocks]
command=ssserver -c /etc/shadowsocks.json
user=nobody
autostart=true
autorestart=true
process_name=%(program_name)s-%(process_num)s
numprocs=1
stdout_logfile=/var/log/shadowsocks.out
stderr_logfile=/var/log/shadowsocks.err
